# Python junk
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Build outputs
.pio/
**/.pio/
**/build/

# IDE/editor
.vscode/
**/.idea/

# OS junk
**/.DS_Store
**/Thumbs.db

# Logs/temp
**/*.log
**/*.tmp

# Secrets
.env
**/.env

# Node
**/node_modules/
